*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
     font-family: 'Open Sans', sans-serif;
     line-height: 1.6;
     letter-spacing: 0.9px;
     font-size: 1em;
     color: #333;
     background-color: #fafafa;
    }

h1, h2, h3 {
     font-family: 'Montserrat', sans-serif;
     color: #222;
     letter-spacing: 1px;
     font-weight: 600;
    }

header {
  position: relative;
}

.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  background-color: #fff;
  color: #333;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

main {
    background-color: #f1f1f1;
    margin-left: 300px;
    padding: 1rem;
}

footer {
    margin-left: 300px;
    padding: 2rem 1.5rem;
}

.hero-section {
    padding: 1.3rem;
}

div.hero-image {
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

div.hero-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.hero-title {
    margin: 1.5rem 0 0.5rem;
    font-size: 1.3rem;
}

.hero-subtitle {
  margin: 0;
  font-size: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: #333;
    padding: 7px 1.4rem;
    font-size: 14px;
    text-decoration: none;
}

nav ul li a.active {
    color: #009688;
}
nav ul li a.active:hover {
    background-color: lightgray;
    color: #333;
}

nav ul li a i {
    padding: 0 1rem 0 0;
}

nav ul li a:hover {
    background-color: lightgray;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.social-icons a {
    display: inline-block;
    color: #333;
    transition: all 0.4s ease;
}

.social-icons a:hover {
    color: #000;
    transform: scale(1.3);
}

div.portfolio h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

div.portfolio h2 span {
  Color: #009688;
}

.navbar-sm-screen {
    display: none;
}

.navigation-links {
    display: flex;
    align-items: center;
    padding-bottom: 0.9rem;
}

.navigation-links a:not(.filter) {
    display: block;
    padding: 8px 16px;
    background-color: #fff;
    margin: 1.3px;
    text-decoration: none;
    color: #333;
    transition: all 0.4s ease;
}

.navigation-links a:hover:not(.filter) {
    background-color: lightgray;
    color: #333;
}

.navigation-links a i {
    padding: 0 10px 0 0;
}

.navigation-links a.filter {
    text-decoration: none;
    cursor: default;
    color: #333;
    margin-right: 1rem;
    transition: all 0.4s ease;
}

.navigation-links a.dark {
    background-color: #000;
    color: #fff;
}

.border-bottom {
    border-bottom: 5px solid lightgray ;
}

div.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem 10px;
    margin-top: 1rem;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) ;
}

.image-section {
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) ;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-section img:hover {
    opacity: 0.8;
}

.item-1 h3, .item-2 h3, .item-3 h3, .item-4 h3, .item-5 h3, .item-6 h3 {
    font-size: 1.1rem;
    padding: 0.5rem 10px 0;
    min-height: 64px;
}

.item-1 p, .item-2 p, .item-3 p, .item-4 p, .item-5 p, .item-6 p {
    font-size: 0.9rem;
    padding: 0.5rem 10px 1rem;
}

div.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}

div.pagination a {
    display: block;
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.4s ease;
}

div.pagination a.dark {
    background-color: #000;
    color: #fff;
    transition: all 0.4s ease;
}

div.pagination a:hover {
    background-color: lightgray;
    color: #333;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flex-container img {
    display: block;
    width: 100%;
    height: 230px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    object-fit: cover;
}

#about h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.technical-skills {
    margin: 2rem 0;

}

.technical-skills h3 {
    font-size: 1.2rem;
}

.technical-skills h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.progress-bar {
    text-align: center;
    background-color: #9e9e9e;
    line-height: 2.3;

}

.progress-development {
    background-color: #616161;
    color: #fff;
    width: 95%;
}

.progress-design {
    background-color: #616161;
    color: #fff;
    width: 85%;
}

.progress-photography {
    background-color: #616161;
    color: #fff;
    width: 75%;
}

.btn-download {
    background-color: #616161;
    color: #fff;
    padding: 12px 16px;
    margin-top: 1.8rem;
    border: none;
}

.btn-download i {
    padding: 0 1rem 0 0;
}

.btn-download:hover {
    background-color: lightgray;
    color: #333;
}

div.package-section h2 {
 font-size: 1.2rem;
 font-weight: 500;
}

div.flex-container-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

div.flex-item-1 {
    flex: 1;
    text-align: center;
    border: 1px solid #3333331a;
    opacity: 0.6;
    background-color: #fff;
}

div.flex-item-1:hover {
    opacity: 1;
}

.flex-item-1 .basic {
    background-color: #000;
    color: #fff;
    padding: 2.3rem 0;
}

.flex-item-1 .pro {
    background-color: #009688;
    color: #fff;
    padding: 2.3rem 0;
}

.flex-item-1 .premium {
    background-color: #000;
    color: #fff;
    padding: 2.3rem 0;
}

.flex-item-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.flex-item-1 ul li {
  padding: 12px 16px;
  border-bottom: 1px solid #3333331a;
}

.flex-item-1 h4 {
    margin: 1.5rem 0 0;
    font-size: 1.5rem;
    font-weight: 500;
}

span.big-symbol {
    font-size: 1.9rem;
    font-weight: 400;
}

.flex-item-1 p {
    font-size: 15px;
    color: #333;
}

.btn-section {
    background-color: #f1f1f1;
    color: #333;
    border-right: 1px solid #00000033;
    border-left: 1px solid #00000033;
    border-bottom: 1px solid #00000033;
    padding: 1rem 0;
}

.btn-section button {
    background-color: #009688;
    color: #fff;
    padding: 12px 24px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
}

.btn-section button:hover {
    background-color: #000;
    color: #fff;
}

div.modal {
    position: relative;

}

#paymentModal {
    display: none;
}

.modal-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #009688;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    z-index: 1002;
}

h2#paymentTitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

#modal-close {
    float: right;
    font-size: 2rem;
    color: #fff;
    background-color: #009688;
    border: none;
}

p.muted {
    font-size: 13px;
    color: #fff;
}

#paymentForm label.w50 {
    display: inline-block;
    width: 50%;
    margin-top: 0.5rem;
}

input#cardName, input#cardNumber, input#iban, input#bankName {
    display: inline-block;
    width: 50%;
    padding: 6px 8px;
    outline: none;
    border-radius: 5px;
    border: none;
}

input#cardName:focus, input#cardNumber:focus, input#iban:focus, input#bankName:focus {
    outline: 1px solid #000;
}

.row {
    display: flex;
    margin: 0.5rem 0;
}

.col {
    flex: 0 0 50%;
}

.col label {
    display: inline-block;
    width: 50%;
    font-size: 14px;
}

.col input {
    display: inline-block;
    width: 80px;
    padding: 6px 8px;
    border: none;
    outline: none;
}

.col input:focus {
    outline: 1px solid #000;
}

.form-hr {
    margin: 0.5rem 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 0.9rem;
}

button.primary {
    width: 50%;
    padding: 8px 16px;
    background-color: #8fbc8f;
    color: #000;
    border: none;
}

button.primary:hover {
    background-color: rgba(143, 188, 143, 0.8);
}

button.secondary {
    width: 50%;
    padding: 8px 16px;
    background-color: #ff6347;
    border: none;
}

button.secondary:hover {
    background-color: #ff6347e6;
}

.contact-section {
    margin-top: 3.5rem;
    background-color: #9e9e9e;
    color: #000 !important;
    padding: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 0;
}

.contact-section h2 {
    margin-bottom: 2rem;
}

.contact-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5rem;
}

.contact-item-1,
.contact-item-2,
.contact-item-3 {
    width: 33.33%;
    margin: 0;
    padding: 1.5rem;
}

.contact-item-1, .contact-item-3 {
    background-color: #616161;
    color: #fff !important;
}

.contact-item-2 {
    background-color: #009688;
    color: #fff !important;
}

.contact-row p i {
    font-size: 2rem;
}

.contact-row p {
    margin-bottom: 1rem;
}

.contact-row p a {
    text-decoration: none;
    color: #fff !important;
}

.contact-row p a:hover {
    color: darkorange !important;
    text-decoration: underline;
}

hr {
    color: #fff !important;
    margin-bottom: 1.5rem;
}

.form input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    outline: none;
    border: 1px solid darkorange;
    transition: all 0.4s ease;
}

.form input:focus {
    outline: 1px solid darkorange;
}

.form label {
    display: block;
    margin-top: 0.8rem;
}

.form textarea {
    display: block;
    width: 100%;
    height: 60px;
    outline: none;
    border: 1px solid darkorange;
    padding: 0.5rem;
    transition: all 0.4s ease;
}

.form textarea:focus {
    outline: 1px solid darkorange;
}

button.contact-submit {
    color: #fff;
    background-color: #000;
    padding: 12px 26px;
    font-size: 1rem;
    border: none;
    margin-top: 1rem;
    transition: all 0.4s ease;
}

button.contact-submit:hover {
    background-color: lightgray;
    color: #000;
}

.submit-notification {
    margin-top: 0.4rem;
    opacity: 0;
    color: #fff;
}

.footer-bg-gray {
    margin-top: -1rem;
    background-color: #616161;
    color: #fff !important;
}

.flex-footer {
    display: flex;
    gap: 10px;
}

.footer-item-1, .footer-item-2, .footer-item-3 {
    width: 33.3%;
    margin: 0;
    padding: 0.5rem;
}

.footer {
    background-color: #000;
    color: #fff;
    margin: 0 -1.5rem -2rem;
    padding: 1.5rem;
    text-align: center;

}

.flex-footer h3 {
    color: #fff !important;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.flex-footer p {
  font-size: 14px;
  margin-bottom: 1rem;
}

.flex-footer p a {
    color: #fff;
}

.flex-container-4 {
    display: flex;
    gap: 10px;
}

.flex-container-4:hover {
    background-color: lightgray;
    color: #333;
}

.flex-1 {
    width: 33.3%;
    height: 70px;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.2);
    background-color: #fff;
}

.flex-2 {
    width: 66.6%;
}

.flex-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-2 h4 {
    font-size: 0.9rem;
    font-weight: 600;
}

.flex-2 p {
    font-size: 13px;
}

.hr {
    margin-bottom: 0.8rem;
}

.tag-links a {
    display: inline-block;
    color: #000;
    margin: 1px;
    font-size: 13px;
    padding: 0px 8px;
    text-decoration: none;
    background-color: #9e9e9e;
    margin-bottom: 0.8rem;
}

.tag-links a:first-child {
    background-color: #000;
    color: #fff;
}

.footer p a {
    color: #009688;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
}

.close-modal-section {
    position: relative;
}

#close-modal-1 {
  display: none;
  font-size: 24px;
  color: #000;
  margin-right: 10px;
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 769px) {
    #modal-1 {
        display: none;
    }
    main {
        margin-left: 0;
        padding: 10px;
    }

    div.portfolio {
        margin-top: 70px;
    }

.fixed-sidebar {
    position: fixed;
    background-color: #fff;
    color: #333;
    top: 0;
    bottom: 0;
    left: 0;
    width:70%;
    z-index: 1000;
    box-shadow: 5px 0 15px rgba(0,0,0,0.2);
}

   #close-modal-1 {
    display: block;
    float: right;
    margin-right: 10px;
   }

    .navbar-sm-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009688;
    color: #fff;
    z-index: 999;
}

.toggle-menu {
    font-size: 2rem;
    padding-left: 1rem;
}

.circle-img {
    margin: 5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    margin-left: 0;
}

}

@media (max-width: 431px) {

div.portfolio h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


div.hero-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

div.hero-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
    
    .modal-panel {
        width: 90%;
        padding: 0.8rem;
    }

#paymentForm label.w50 {
    display: inline-block;
    width: 100%;
    margin-top: 0.5rem;
}

input#cardName, input#cardNumber, input#iban, input#bankName {
    display: inline-block;
    width: 100%;
}

.row {
    flex-direction: column;
}

.col {
    margin-top: 0.5rem;
}

.actions {
    flex-direction: column;
}

button.primary, button.secondary {
    width: 100%;
}

.toggle-menu {
    font-size: 1.9rem;
    padding-left: 0.7rem;
}

.circle-img {
    margin: 3px 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

    .container {
 flex-direction: column;
    }

    footer {
        margin-left: 0;
    }
    .flex-footer {
        flex-direction: column;
    }
    .footer-item-1, .footer-item-2, .footer-item-3 {
        width: 100%;
    }

 div.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-top: 1rem;
}

.image-section {
    height: 250px;
}

.flex-container {
   flex-direction: column;
    gap: 10px;
}

.flex-container img {
    height: 250px;
}

div.flex-container-1 {
  flex-direction: column;
  gap: 1rem;
}

div.flex-item-1 {
    width: 100%;
}

.contact-row {
    flex-direction: column;
}

.contact-item-1,
.contact-item-2,
.contact-item-3 {
    width: 100%;
    padding: 1.5rem;
}

.navigation-links a {
  font-size: 13px;
  padding: 5px 8px;
}

.navigation-links a:last-child {
  display: none;
}

.navigation-links a i {
    font-size: 14px;
    padding: 0 3px 0 0;
}

.navigation-links a.filter {
    margin-right: 0.3rem;
}

.contact-section {
    margin-top: 3.5rem;
    background-color: #9e9e9e;
    color: #000 !important;
    padding: 1.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: 0;
 }
}