*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
     font-family: 'Open Sans', sans-serif;
     line-height: 1.6;
     letter-spacing: 0.9px;
     font-size: 1em;
     color: #333;
     background-color: #fafafa;
    }

h1, h2, h3 {
     font-family: 'Montserrat', sans-serif;
     color: #222;
     letter-spacing: 1px;
     font-weight: 600;
    }

h1 { font-size: 1.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
